.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
androidApp/release
.kotlin
core/network/http_requests/http-client.private.env.json

# IntelliJ .idea folder
.idea/workspace.xml
.idea/misc.xml
.idea/caches
.idea/compiler.xml
.idea/artifacts
.idea/deploymentTargetDropDown.xml
.idea/androidTestResultsUserPreferences.xml
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/appInsightsSettings.xml
.idea/shelf
.idea/httpRequests
gradle.xml
*.iml
