h1 {
  font-size: 24px;
}
body {
  display: block;
}
figure {
  margin: 0;
}
figcaption {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.6;
}
.caption {
  font-size: 12px;
}
.feedName {
  margin-bottom: 8px;
}
img, figure, video, div, object {
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding-left: 8px;
}
ul li p {
  display: inline;
}
ol {
  list-style: none;
  padding-left: 8px;
  counter-reset: item;
}
ol li p {
  display: inline;
}
li:not(:last-of-type) {
  margin-bottom: 1em;
}
iframe {
  width: 100%;
  max-width: 100%;
  height: 250px;
  max-height: 250px;
}
table {
  display: block;
  overflow-x: auto;
}
table img {
  display: block;
  height: auto;
  margin-bottom: 16px;
}
pre {
  display: block;
  overflow-x: auto;
  border-radius: 2px;
}
code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  line-height: 1.8em;
  border-radius: 2px;
}
